<section id="submission">
    <h2>Submission</h2>

    <p>
        To hand in your assignment:
        <ol>
            <li>Create a directory to hold all of your data. The directory name should be {props.short_title}_student id, where student id 
                is your student id.</li>
            <li>Create a directory source inside of the directory {props.short_title}_student id. </li>
            <li>Put the source code, which may contain of multiple files, for your assignment’s solution into the directory source.</li>
            <li>Your program must compile by just running the command make in the source directory or a similar step for your programming language of choice.</li>
            <li>Write a README file to explain anything you feel is necessary or important about your submission. This may include special features/bugs of your program. Describe what parts of the assignment you implemented. It is in your interest to simplify the job of the marker.</li>
        </ol>
        
    </p>
</section>